<!--Profile-->
<section id="profile">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card wow bounceIn" *ngIf="user">
          <div class="avatar-upload">
            <div class="avatar-edit">
              <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" class="file" />
              <label for="imageUpload" class="label-image"></label>
            </div>
            <div class="avatar-preview">
              <div id="imagePreview"></div>
            </div>
          </div>
          <div class="star-image">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>

          </div>

          <div class="card-header">Hello {{user.name}} </div>

          <div class="card-body">
            <span class="badge badge-info">DETAILS</span>
            <h5 class="card-title"><span>Username:</span>{{user.username}}</h5>
            <h5 class="card-title"><span>Email:</span>{{user.email}} </h5>
          </div>
          <div class="list-group item-parent">
            <div class="list-group-item item-child flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="contact-header mb-1">Technical Support </h5>
              </div>
              <p class="mb-1">we are happy that you are with us if you want to know any details</p>
              <small class="text-muted">Contact Us</small>
              <div class="social-media">
                <a href="http://www.facebook.com" class="media" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="http://www.twitter.com" class="media" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="http://www.github.com" class="media" target="_blank"><i class="fab fa-github"></i></a>
                <a href="http://www.linkedin.com" class="media" target="_blank"><i class="fab fa-linkedin"></i></a>
              </div>

            </div>
          </div>
        </div>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary mb-2 wow bounceInDown" data-toggle="modal" data-target="#exampleModal">
          Add New Post
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="form-group mb-5" (ngSubmit)="addNewPost(title, description)">
                  <input type="text" name="title" placeholder="Title" class="form-control" [(ngModel)]="title">
                  <label for=""></label>
                  <textarea class="form-control" name="description" placeholder="Description"
                    [(ngModel)]="description"></textarea>
                  <button class="btn btn-primary float-right mt-2 mb-5">Submit</button>

                </form>
              </div>

            </div>
          </div>
        </div>
        <!-- (click)="updatePost()" -->
        <div class="post wow bounceInUp">
          <div class="list-group">
            <div class="list-group-item list-group-item-action flex-column align-items-start  mt-3"
              *ngFor="let post of posts">
              <div class="d-flex w-100 justify-content-between">
                <h5>{{post.title}}</h5>
                <small class="text-muted">
                  <button class="btn btn-primary float-right mb-1" (click)="deletePost(post._id)">Delete</button>

                </small>

              </div>
              <p class="mb-1">{{post.description}}</p>
              <small class="text-muted float-right">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>

              </small>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="row">
      <div class="col-xs-4">

      </div>
    </div>

  </div>
</section>
<app-footer></app-footer>