
#profile{
    border-radius: 10px;
    margin-top: 40px;
    position: relative;
    font-family: 'Quicksand', sans-serif;

}


.card {
    box-shadow: 3px 3px 5px 1px rgba(226, 226, 226),
     -2px -2px 5px 1px rgba(226, 226, 226)
}
.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 20px auto;
}
#imagePreview{
    background-image: url(http://i.pravatar.cc/500?img=7)
}
.avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}
.file {
    display: none;
}
.label-image {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
}
.label-image:hover{
    background: #f1f1f1;
    border-color: #d6d6d6;
}
.label-image:after{
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}
.avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

}
.avatar-preview div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.star-image{
    text-align: center;
    padding: 20px
}
.fa-star{
    padding: 3px;
    color: #a2a2a2;
}
.fa-star:first-child{
    color: rgb(255, 208, 0);

}
.badge-info{
    margin-left: 3px;
    margin-bottom: 3px;
    color: #fff;
    background-color: #919598;
    text-shadow: 1px 1px 1px #584f4f;
    
}

.card-title {
    margin-bottom: 5px;
    
}
.card h5 {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: normal
    
}
.card h5 span{
    padding: 4px;
    font-size: 13px;
    font-weight: bolder;
    color: rgb(49, 47, 47);
    border-radius: 15px;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 1px 1px #cacaca;

}


.card-header{
    text-align: center;
    background-color: rgb(86, 82, 82);
    font-size: 18px;
    margin-bottom: 30px;
    color: #fff;
    border-radius: 2px

}

.item-child{
    border: none;
    font-family: 'Quicksand', sans-serif;
}


.media{
    text-decoration: none;
    padding: 10px;
    margin-top: 5px;
    display: contents
}
.media .fab  {
    margin: 5px;
    border: 1px solid #d1cfcf;
    border-radius: 50%;
    padding: 10px;
    color: rgb(100, 91, 91)
}
.media .fab:hover{
    background-color: #ff8282;
    color: #ffffff;
    border-color: #ff8282;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.contact-header{
    background-color: rgb(103, 100, 100);
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Quicksand', sans-serif;
    border-radius: 5px;
    padding: 10px
}
/* Post */

.modal-title,
.list-group-item {
    font-family: 'Quicksand', sans-serif;
}
.btn-primary {
    color: #fc6060;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 14px;
    border-color: #ff8282;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-family: 'Quicksand', sans-serif;
    border-radius: 2px;
    margin-top: 30px;
}

    

.btn-primary:hover{
    background-color: #ff8282;
    color: #ffffff;
    border-color: #ff8282;
}
.btn-primary:focus
 {
    box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
    color: #676363;
    background-color: #f8f9fa;
    border-color: rgb(199, 196, 196);
}

