<!-- Home -->
<!-- Header -->
<section id="header" class="">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="header">
            <h1 class="heading wow bounceIn">DAMENDOR
              <span class="txt-type">Ui/UX DESIGNER</span>
            </h1>
            <p id="myElement"></p>
            <p class="header-text wow bounceInLeft">We’re Demondar Surgeons, a Digital We’re Demondar Surgeons, a
              digital We’re Demondar Surgeons, a Digital</p>
                    <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary mb-5 wow bounceIn" data-toggle="modal" data-target="#exampleModal">
            Subscribe
          </button>
  
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Subscribe Us</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form class="form-group subscribe mb-5" (submit)="onSubscribe()">
                      <ng-flash-message></ng-flash-message>
                      <label for="name"></label>
                    <input type="text" name="name" placeholder="Full Name" onfocus="this.placeholder= ''"
                    onblur="this.placeholder ='Full Name'" class="form-control subscribe-us" [(ngModel)]="name">
                    <label for="email"></label>
                    <input class="form-control subscribe-us" name="email" placeholder="Email Address" onfocus="this.placeholder= ''"
                    onblur="this.placeholder ='Email Address'"
                      [(ngModel)]="email">
                    <button class="btn btn-dark float-right mt-5 mb-5">Submit</button>
  
                  </form>
                </div>
  
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Main-->
<main id="main">
  <!-- How-We -->
  <section class="how-we">
    <div class="container">
      <!-- how we work -->
      <div class="row">
        <div class="col">
          <div class="how-we-work wow bounceInLeft">
            <h2 class="work-header">We take Several Minutes To Design UI/UX Project</h2>
            <p class="work-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel cum assumenda voluptates,
              et, nostrum est facere accusantium dolores, mollitia labore suscipit accusamus odio. Totam sapiente
              eligendi veritatis at animi fuga!</p>
          </div>
        </div>
        <div class="col">
          <div id="demo" class="carousel slide wow bounceInRight" data-ride="carousel">
            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../../assets/img/slider/img-2.png" alt="Los Angeles" class="carousel-img">
                <div class="carousel-caption">
                  <span class="caption-header">ADOBE ILLUSTRATOR</span>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../../../assets/img/slider/img-6.png" alt="Los Angeles" class="carousel-img">
                <div class="carousel-caption">
                  <span class="caption-header">ADOBE PHOTOSHOP</span>
                </div>
              </div>
              <div class="carousel-item">
                <img src="../../../assets/img/slider/img-8.png" alt="Los Angeles" class="carousel-img">
                <div class="carousel-caption">
                  <span class="caption-header">ADOBE INDESIGN</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- workers -->
      <div class="row">
        <div class="col">
          <div class="workers-one wow bounceIn">
            <!-- <span class="works-heading">
                      Hello Froim Here
                    </span> -->
            <div class="workers-header">
              <img src="../../../assets/img/workers/img-11.png" alt="" class="img-workers-one">

            </div>
          </div>
        </div>
        <div class="col">

          <div class="workers-two wow bounceIn">
            <!-- <span class="works-heading">
                      Hello Froim Here
                    </span> -->
            <div class="workers-header">
              <img src="../../../assets/img/workers/img-2.png" alt="" class="img-workers-two">

            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- Comments -->
  <section id="comments">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="our-services text-center wow bounceIn">
            <h2 class="our-services-header">OUR SERVICES</h2>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="comments wow bounceIn">
            <p class="our-services-text">This Is Paragraph Comment This Is Paragraph Comment This Is Paragraph Comment
              This Is Paragraph Comment
              This Is Paragraph Comment This Is Paragraph Comment </p>
            <p class="our-services-text">This Is Paragraph Comment This Is Paragraph Comment This Is Paragraph Comment
              This Is Paragraph Comment
              This Is Paragraph Comment This Is Paragraph Comment </p>
            <p class="our-services-text">This Is Paragraph Comment This Is Paragraph Comment This Is Paragraph Comment
              This Is Paragraph Comment
              This Is Paragraph Comment This Is Paragraph Comment </p>
            <p class="our-services-text">This Is Paragraph Comment This Is Paragraph Comment This Is Paragraph Comment
              This Is Paragraph Comment
              This Is Paragraph Comment This Is Paragraph Comment </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="our-projects">
    <div class="container">
      <div class="row">
        <div class="col wow bounceIn">
          <h2 class="our-projects-header">OUR PROJECTS</h2>
          <p class="our-projects-text mb-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo soluta ipsa
            numquam earum neque atque esse velit in eos fugiat. Voluptas tenetur quod impedit. Vero recusandae itaque
            libero deserunt quasi.</p>
        </div>
      </div>
      <div class="row">
        <div class="col wow bounceInLeft">
          <div class="projects-img">
            <img src="../../../assets/img/our-projects/img.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Book -->
  <section id="book">
    <div class="book-design">
      <div class="over-lay">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2 class="book-heading text-center mt-5 wow bounceInDown">BOOK DESIGN</h2>

            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 wow bounceInLeft">
              <h3 class="book-header">Interested in designing demand for your business?
                <span class="span-book">Speak with a growth advisor</span> </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 wow bounceInRight">

              <form class="form-group" (submit)="onSend()">
                <ng-flash-message></ng-flash-message>
                <label for="Name">Name</label>
                <input type="text" class="form-control" placeholder="Full Name" onfocus="this.placeholder= ''"
                  onblur="this.placeholder ='Full Name'" [(ngModel)]="name" name="name">
                <label for="Need">I Am Looking For</label>
                <input type="text" class="form-control" placeholder="UI/UX Designes, Business"
                  onfocus="this.placeholder= ''" onblur="this.placeholder ='UI/UX Designes, Business'"
                  [(ngModel)]="needs" name="needs">
                <label for="Email">Email</label>
                <input type="Email" class="form-control" placeholder="Email Address" onfocus="this.placeholder= ''"
                  onblur="this.placeholder ='Email Address'" [(ngModel)]="email" name="email">
                <button class="btn btn-primary mb-5">Send</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Our-Team -->
  <section class="our-team text-center">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="our-team-header wow bounceInUp">OUR TEAM</h2>

        </div>
      </div>

      <div class="row">
        <div class="col wow bounceInLeft">
          <div class="team">
            <img src="../../../assets/img/team/img-1.jpg" class="img-team" alt="">
            <h4 class="team-name">Mr.Donail</h4>
            <p class="team-text">UX Designer</p>
            <div class="icons-team">
              <a href="http://www.facebook.com" class="media " target="_blank"><i class="fab fa-facebook"></i></a>
              <a href="http://www.twitter.com" class="media" target="_blank"><i class="fab fa-twitter"></i></a>
              <a href="http://www.github.com" class="media" target="_blank"><i class="fab fa-github"></i></a>
              <a href="http://www.linkedin.com" class="media" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        <div class="col wow bounceInLeft">
          <div class="team">
            <img src="../../../assets/img/team/img-2.jpeg" class="img-team" alt="">
            <h4 class="team-name">Mr.Donail</h4>
            <p class="team-text">UI Designer</p>
            <div class="icons-team">
              <a href="http://www.facebook.com" class="media" target="_blank"><i class="fab fa-facebook"></i></a>
              <a href="http://www.twitter.com" class="media" target="_blank"><i class="fab fa-twitter"></i></a>
              <a href="http://www.github.com" class="media" target="_blank"><i class="fab fa-github"></i></a>
              <a href="http://www.linkedin.com" class="media" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        <div class="col wow bounceInRight">
          <div class="team">
            <img src="../../../assets/img/team/img-3.jpg" class="img-team" alt="">
            <h4 class="team-name">Mr.Donail</h4>
            <p class="team-text">Android Designer</p>
            <div class="icons-team">
              <a href="http://www.facebook.com" class="media" target="_blank"><i class="fab fa-facebook"></i></a>
              <a href="http://www.twitter.com" class="media" target="_blank"><i class="fab fa-twitter"></i></a>
              <a href="http://www.github.com" class="media" target="_blank"><i class="fab fa-github"></i></a>
              <a href="http://www.linkedin.com" class="media" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        <div class="col wow bounceInRight">
          <div class="team">
            <img src="../../../assets/img/team/img-4.jpg" class="img-team" alt="">
            <h4 class="team-name">Mr.Donail</h4>
            <p class="team-text">Wep Designer</p>
            <div class="icons-team">
              <a href="http://www.facebook.com" class="media" target="_blank"><i class="fab fa-facebook"></i></a>
              <a href="http://www.twitter.com" class="media" target="_blank"><i class="fab fa-twitter"></i></a>
              <a href="http://www.github.com" class="media" target="_blank"><i class="fab fa-github"></i></a>
              <a href="http://www.linkedin.com" class="media" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact-Us -->
  <section id="contact-us">
    <div class="container">
      <div class="row">
        <div class="col wow bounceIn text-center ">
          <h2 class="our-projects-header">CONTACT US</h2>
          <p class="our-projects-text mb-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo soluta ipsa
            numquam earum neque atque esse velit in eos fugiat. Voluptas tenetur quod impedit. Vero recusandae itaque
            libero deserunt quasi.</p>
        </div>
      </div>
      <div class="row">
        <div class="col wow bounceInUp">
          <form class="form-group contact" (submit)="onSubmit()">
            <ng-flash-message></ng-flash-message>
            <label for="Username">Username</label>
            <input type="text" class="form-control contact-input" placeholder="Username" onfocus="this.placeholder= ''"
              onblur="this.placeholder ='Username'" [(ngModel)]="username" name="username">
            <label for="Description">Description</label>
            <textarea type="Email" class="form-control contact-input" placeholder="Description"
              onfocus="this.placeholder= ''" onblur="this.placeholder ='Description'" [(ngModel)]="description"
              name="description" cols="6" rows="6"></textarea>
            <button class="btn btn-dark mb-5">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>